.main {
  margin: var(--gap-size-large) 0;
}

.img {
  height: 220px;
  border: none;
  width: 240px;
  border-radius: 12px;
}

.container {
  display: grid;
  grid-template-columns: auto;
  gap: var(--gap-size-small);

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.projectContainer {
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--gap-size-small);
  padding: var(--gap-size-small);
  border-radius: 14px;
  border: 1px solid #dfdfdf;
  box-shadow: 2px 4px 10px #c7c6c6;
  background-color: #dfdfdf;
  justify-items: center;

  @media (max-width: 1024px) {
    display: grid;
    grid-template-columns: auto;
  }
}

.title {
  text-align: center;
  margin: 0 auto var(--gap-size-large) auto;
  font-size: 40px;
  font-weight: 580;
}

.h4 {
  color: #4d4c4c;
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
}

.paragraph {
  align-content: center;
  align-items: center;
  margin: 0 0 20px 0;
  color: #595858;
  text-align: center;
  overflow: auto;
}

.github {
  color: #ffffff;
  background-color: black;
  padding: 6px 10px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  text-align: center;
}

.arrowRight {
  margin-left: 6px;
}

.content {
  text-align: center;
}
