.main {
  margin-top: 50px;
  background-color: #f5f3f0;
}

.img {
  width: 88%;
  display: block;
  height: 220px;
  border: none;
  border-radius: 12px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 80px;
  /*text-align: center;*/
}

.projectContainer {
  display: grid;
  grid-template-columns: 44% 56%;
  /*padding: 20px;*/
  margin: 20px 0;
  padding: 20px 0;
  border-radius: 14px;
  width: 97%;
  max-height: 230px;
  border: 1px solid #dfdfdf;
  box-shadow: 2px 4px 10px #c7c6c6;
  background-color: #dfdfdf;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 580;
  color: #4d4c4c;
  padding: 30px 0 50px 0;
}
.h4 {
  color: #4d4c4c;
  font-size: 22px;
  margin-bottom: 10px;
}

/*.content {*/
/*  display: block;*/
/*  overflow: auto;*/
/*  line-height: 26px;*/
/*  width: 100%;*/
/*}*/

.paragraph {
  align-content: center;
  align-items: center;
  margin: 0 0 20px 0;
  color: #595858;
  font-size: 14px;
}

.github {
  margin-top: 10px;
  color: red;
}

.imgContainer {
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
