.mobileNav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(151, 150, 150, 0.8);

  display: block;
  justify-items: left;
  padding: 0 var(--gap-size-small);

  @media (min-width: 768px) {
    display: none;
  }
}

.menuBar {
  font-size: 26px;

  @media (min-width: 768px) {
    display: none;
  }
}

.XBar {
  display: block;
  font-size: 26px;
  padding: 24px 0;
}
