.mobileNav {
  position: relative;
  top: 0;
  right: 0;
  height: 100vh;
  background: #979696;
  display: block;
  margin: -26px -20px -34px 0;
  justify-items: left;
  padding: 0 36px;

  @media (min-width: 600px) {
    display: none;
  }
}

.menuBar {
  font-size: 26px;

  @media (min-width: 600px) {
    display: none;
  }
}

.XBar {
  display: block;
  font-size: 26px;
  padding: 24px 0;
}
