.mainContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size-small);
  margin-bottom: var(--gap-size-large);

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.myImg {
  max-width: 260px;
  border-radius: 26px;
  display: block;
  margin: 0 auto;

  @media (min-width: 480px) {
    max-width: 300px;
    margin: 0 auto;
  }

  @media (min-width: 600px) {
    max-width: 400px;
  }
}

.skills {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 26px;

  @media (min-width: 401px) {
    grid-template-columns: auto auto;
    margin: 0 auto;
  }

  @media (min-width: 800px) {
    grid-template-columns: auto auto auto;
  }
}

.resumeHyperlink:hover {
  opacity: 0.6;
  box-shadow: 2px 4px 8px #171616;
}

.title {
  width: 100%;
  font-size: 50px;
  font-weight: 550;
  text-align: center;
  margin: var(--gap-size-large) auto;
}

.tsIcon {
  width: 40px;
  justify-self: center;
}

.icons {
  font-size: 36px;
  justify-self: center;

  @media (min-width: 480px) {
    font-size: 46px;
  }
}

.skill {
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
}

.span {
  font-size: 22px;

  @media (min-width: 600px) {
    font-size: 28px;
  }
}

.viteIcon {
  width: 46px;
  justify-self: center;
}

.FigmaIcon {
  width: 30px;
  margin: auto;
}

.imgContainer {
  max-width: 400px;
  margin: 0 auto;
}
