.form {
  display: grid;
  gap: 20px;
  grid-template-columns: auto;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*.formSection {*/
/*  width: 100%;*/
/*  background-color: red;*/
/*}*/

.button {
  width: fit-content;
  padding: 14px 60px;
  border: none;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 4px 4px 4px #dad5d5;
}

.fieldMessage {
  max-height: 200px;
  min-height: 100px;
  padding-top: 20px;
}

.fieldMessage,
.field {
  width: 97.8%;
  display: block;
  border: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #dad5d5;
  font-size: 18px;
  padding-left: 16px;
}

.field {
  min-height: 60px; /*padding: 20px 0 20px 20px;*/
}

.error {
  padding: 14px 0 0 14px;
  color: red;
  font-size: 16px;
}
