/*.header {*/
/*  display: grid;*/
/*  justify-content: end;*/
/*}*/
.mainContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  width: var(--page-width);
  background-color: blue;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /*background-color: var(--backgroung-color-rgba);*/
  /*border: 1px var(--backgroung-color-rgba) solid;*/
  padding: 10px;
  background-color: red;
  align-content: end;
  text-align: end;
}

.name {
  background-color: green;
  align-content: center;
}
