.header {
  justify-content: space-between;
  background-color: #f5f3f0;
  padding: 26px 0;
  display: grid;

  grid-template-columns: auto auto;
  /*@media (min-width: 768px) {*/
  /*  grid-template-columns: auto auto;*/
  /*}*/
}

.name {
  align-content: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  display: inline-flex;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.bigScreenNav {
  background: black;
  display: none;

  @media (min-width: 600px) {
    display: block;
  }
}
