.footer {
  width: var(--page-width);
  margin: 100px auto;
}
.main {
  display: grid;
  grid-template-columns: 40% auto;
  margin: 0 auto;
  justify-items: center;
}
/*.myName {*/
/*  !*color: var(--text-color);*!*/
/*  font-size: 16px;*/
/*  opacity: 0.8;*/
/*  text-align: center;*/
/*  padding-right: 12px;*/
/*  color: darkblue;*/
/*}*/

.container {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  background-color: #f5f3f0;
  color: #454544;
  font-size: 20px;
  padding-bottom: 80px;
  align-content: start;
  align-items: start;
  /*margin: auto;*/
  justify-content: start;
  gap: 30px;
}

a {
  color: #454544;
  text-decoration: none;
  /*align-items: center;*/
  /*text-align: center;*/
  opacity: 0.7;
  font-size: 30px;
}

a:hover {
  color: #db00d8;
  opacity: 1;
}

.contactMe {
  font-size: 50px;
  font-weight: 550;
  margin-bottom: 10px;
  display: block;
  height: fit-content;

  /*align-items: center;*/
  /*align-content: center;*/
  /*!*margin: 60px auto 90px auto;*!*/
  /*text-align: center;*/
  /*font-size: 22px;*/
  /*font-weight: lighter;*/
  /*opacity: 0.9;*/
  /*color: #000;*/
}

.contactFormContainer {
  width: 100%;
}

.iconContainer {
  display: flex;
  /*gap: 20px;*/
}

.icon {
  font-size: 28px;
  margin-right: 20px;
}
