.footer {
  margin: var(--gap-size-large) auto 0 auto;
  padding: var(--gap-size-small);
  max-width: var(--max-page-width);
}

.main {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-items: center;
  gap: var(--gap-size-large);

  @media (min-width: 1024px) {
    gap: 140px;
  }

  @media (min-width: 901px) {
    flex-direction: row;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  color: var(--main-text-color);
  text-decoration: none;
  display: block;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  @media (min-width: 400px) {
    font-size: 24px;
  }

  @media (min-width: 480px) {
    font-size: 28px;
  }

  @media (min-width: 600px) {
    font-size: 30px;
  }
}

.link:hover {
  color: #db00d8;
  opacity: 1;
}

.contactMe {
  font-size: 46px;
  font-weight: 550;
  margin-bottom: 10px;
  display: block;
  height: fit-content;
}

.formContainer {
  flex-grow: 1;
}

.iconContainer {
  display: flex;
}

.icon {
  font-size: 28px;
  margin-right: 20px;
  color: var(--main-text-color);
}
