.footer {
  margin: 100px auto;
  padding: var(--gap-size-small);
  max-width: var(--max-page-width);
}

.main {
  display: flex;
  margin: 0 auto;
  justify-items: center;
  gap: var(--gap-size-small);

  @media (min-width: 600px) {
    grid-template-columns: auto auto;
  }
}

.container {
  font-size: 20px;
  gap: 20px;
}

.link {
  color: #1f1f1f;
  text-decoration: none;
  display: block;
  opacity: 0.7;
  font-size: 30px;
}

.link:hover {
  color: #db00d8;
  opacity: 1;
}

.contactMe {
  font-size: 50px;
  font-weight: 550;
  margin-bottom: 10px;
  display: block;
  height: fit-content;
}

.formContainer {
  flex-grow: 1;
}

.iconContainer {
  display: flex;
}

.icon {
  font-size: 28px;
  margin-right: 20px;
  color: #000;
}
