@import "reset-css";
@import "./variables.css";

body {
  font-family:
    Arial,
    Times New Roman,
    serif;
  background-color: #f5f3f0;
  font-size: var(--main-font-size);
  color: var(--main-text-color);
  line-height: normal;
}

main {
  padding: 0 var(--gap-size-small);
  max-width: var(--max-page-width);
  margin: 0 auto;
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
