:root {
  /* colors */
  --text-color: #fff;
  --primary-color: #db00d8;

  /* sizing */
  --max-page-width: 1400px;

  /* fonts */
  --main-font-size: 16px;
  --h1-font-size: 36px;
  --backgroung-color-rgba: rgba(94, 99, 99, 0.4);

  /* spacing */
  --gap-size-small: 30px;
  --gap-size-large: 60px;
}
