.container {
  width: 100%;
  font-weight: bold;
  font-size: 18px;

  text-decoration: underline 2px #000;
  line-height: 36px;
  /*text-underline-offset: 10px;*/
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: 600px) {
    /*delete me when finished*/
    background: red;
    /*delete me when finished*/
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 64px;
    font-size: 16px;
    padding: 0;
  }
}

.link {
  cursor: pointer;
  color: #000000;
  padding-bottom: 20px;

  @media (min-width: 320px) {
    padding-bottom: 0;
  }
}

.link:hover {
  color: rebeccapurple;
}
