.container {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline 2px #000;
  text-underline-offset: 10px;
  grid-template-columns: auto;
  background: blueviolet;
  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 64px;
  }
}

.link {
  cursor: pointer;
  color: #000000;
  padding-bottom: 20px;

  @media (min-width: 320px) {
    padding-bottom: 0;
  }
}

.link:hover {
  color: rebeccapurple;
}
