.aboutMeImage {
  width: 100%;
  align-items: center;
  margin: 60px auto;
  border-radius: 26px;
  border: 1px solid #c5c3c3;
}

.container {
  display: grid;
  grid-template-columns: 66% 34%;
  background-color: #f5f3f0;
}

.paragraphContainer {
  margin: 60px 0;
  align-items: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30% 70%;
}

.h1 {
  padding: 30px 0;
  font-size: 90px;
  font-weight: 550;
  margin-top: 40px;
  display: block;
  height: fit-content;
}

.paragraph {
  line-height: 26px;
  font-size: 18px;
  color: #737373;
  display: grid;
  grid-template-columns: auto auto;
  width: 830px;
}
