.container {
  display: grid;
  grid-template-columns: auto;
  margin: 0 auto;
  gap: 30px;

  @media (min-width: 1024px) {
    grid-template-columns: 34% auto;
  }
}

.h1 {
  padding: 20px 0 30px 0;
  font-size: 40px;
  font-weight: 550;
  display: block;
  height: fit-content;
  text-align: center;
  margin: 30px 0;

  @media (min-width: 1024px) {
    font-size: 90px;
    grid-column: 1 / span 2;
  }

  @media (min-width: 768px) {
    font-size: 70px;
  }
}

.paragraph {
  font-size: 22px;
  color: #737373;
  line-height: 26px;
  margin: 0 auto;
  @media (min-width: 1024px) {
    margin: 0;
  }
}

.aboutMeImage {
  display: block;
  border-radius: 26px;
  border: 1px solid #c5c3c3;
  margin: 0 auto;
  width: 70%;

  @media (min-width: 1024px) {
    margin: 0;
    width: 100%;
  }
}
